:root {
  --yellow: #ffcb05;
  --blue: #2a75bb;
  --darkBlue: #3c5aa6;
  --red: #e33d33;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

#__next {
  display: grid;
  grid-template-rows: 8vh 1fr 8vh;
  min-height: 100vh;
  min-width: 100vw;
}
